/* TO CHANGE DYNAMICALLY HEIGHT AND WIDTH */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #eee;
    width: 650px;
    margin: 45px auto 0;
    display: grid;
    /* Explicit are defined undeifned are implicit */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
    grid-gap: 15px;
    /* grid-auto-rows: 80px; */
    grid-auto-flow: column;
    /* implicit column widths */
    grid-auto-columns: .5fr;
}

.one {
    background-color: aquamarine;
}

.two {
    background-color: rgb(75, 182, 224);
}

.three {
    background-color: rgb(65, 160, 250);
}

.four {
    background-color: rgb(53, 93, 224);
}

.five {
    background-color: rgb(18, 85, 187);
}

.six {
    background-color: rgb(7, 23, 110);
}

.seven {
    background-color: rgb(80, 103, 233);
}

.eight {
    background-color: rgb(62, 75, 150);
}