body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #eee;
    width: 700px;
    margin: 70px 0 0 50px;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.items {
    color: rgb(71, 71, 59);
}

.items1 {
    background-color: aquamarine;
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4; */
    /* grid-row: 2 / 3;
    grid-column: 3 / 4; */
    grid-area: 2 / 3 / 3/ 4;
}

.items2 {
    background-color: rgb(75, 182, 224);
}

.items3 {
    background-color: rgb(65, 160, 250);
}

.items4 {
    background-color: rgb(53, 93, 224);
}

.items5 {
    background-color: rgb(18, 85, 187);
}

.items6 {
    background-color: rgb(7, 23, 110);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}